/* 
  
  .App {
    background-color: #282c34;
    min-height: 86.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  .deposit::after {
      content:"";
      position: absolute;
      width: 100%;
      height: 20px;
      background-size: 50px;
      background-image: url('../Assets/deposit.svg') ;
  } */

  #withdraw {
      margin: 10px;
  }
  #deposit {
      margin: 10px ;
  }